.cont1{
    background-color: aquamarine;
    width: 20%;
    margin: auto;
}
.cont2{
    width: 30%;
    margin: auto;
    background-color: darkgray;
}
.cont3{
    background-color: darkseagreen;
    width: 20%;
    margin: auto;
}
.para{
    color: rgb(76, 0, 255);
}
.cont5{
    background-color: aquamarine;
    /* flex-direction: row; */
    width: 17%;
    margin: auto;
    padding: 10px;
}
.mp{
    border: 1px solid red;
    background-color: blueviolet;
    height: 60px;
    width: 50px;
    margin: 20px;
    padding: 20px;
}
.cont6{
    background-color: hotpink;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
}
.box{
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    background-color: aqua;
}
